/*apps --------------------------------------------------------------------------------------------------*/
#App {
  background-image: linear-gradient(to bottom right, #ffffff, rgb(37, 122, 99));
  min-height: 100vh;
  width: 100%;
  position: absolute;
  padding-bottom: 3em;
  font-size: 0.7rem;
}


/*imagenes--------------------------------------------------------------------------------------------------*/

.imagenvitrina {
  border-radius: 50% !important;
  width: 35% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.imagenvitrina:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}



.imagenservicio {
  height: 120px !important;
  width: 100% !important;

}


.imagenrutina {
  height: 120px !important;
  padding: 5px !important;
}

.imagenproducto {
  height: 95px !important;


}

.imagenhc {
  height: 99px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #00913d;

}


.imgP {
  padding: 5px;
  max-width: 200px;
}

.titulo {
  text-shadow: 1px 1px #fffefe;
}


.Tantecedentes {
  padding: 5px !important;
}

#imagen_postura{
  width:100%;
}

/* fuentes-------------------------------------------------------------------------------------------------------------*/

.jz {
  text-align: justify;

}

.Cjz {
  
  text-align: center;
  color: #00913D;
}

/* cards-------------------------------------------------------------------------------------------------------------*/

.cardservicios {
  font-size: 0.7rem;
  padding: 0.2rem !important;
  border-style: none !important;
  border-color: transparent !important;

}

.titleservice {
  font-size: 1rem;
}

.bodyservicios {
  height: 100px;
  padding: 7px !important;
}

/*---------------------------*/
.cardclases {
  font-size: 0.7rem;
  margin: 5px;
}

.cardproductos {
  font-size: 0.7rem;
  font-style: oblique;

}


div.card-footer {
  background-color: #00913d;
  font-size: 0.7rem;
  padding: 7px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.prod_cardbody {
  padding: 2px !important;
}

.detallesCard {
  display: flex !important;
  flex-direction: column !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center;
  font-size: 0.9em !important;
  padding: 5px !important;


}


.vitrinaCard {
  display: flex !important;
  flex-direction: column !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center;
  padding: 5px !important;
  border: 1px solid #00913d !important;
  height: 150px !important;
  margin: 3px !important;

}
.Cproductos {
  padding: 1px !important;

}


/* contenedores-------------------------------------------------------------------------------------------------------------*/
.Cont_hc{
  background-color:#e2efec;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

}
.Cont_hc:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}







/*  Cards------------------------------------------------------------------------------------------------------------- */


/*




/*-------------------------------------------------------------------------------------------------------------------- */

.fechas {
  padding: 1px !important;
}

.newplantilla {
  padding: 5px;
  background-color: rgb(207, 232, 224);
  padding: 20px !important;
}

p {
  margin: 1px 1px 1px !important;
}

#agendas {
  font-size: 0.6rem;
  background: fixed;
  margin-top: 50px !important;
}

.radius {
  border-radius: 50px !important;
}

.subtitulos {
  text-shadow: 0px 0px 1px black;
}

button.accordion-button.collapsed {
  padding: 2px;
  background-color: rgb(120, 195, 157);
  color: aliceblue;
  font-size: 0.8rem;
  text-shadow: 1px 1px 2px black;
}

button.accordion-button:not(.collapsed) {
  padding: 2px;
  background-color: rgb(75, 198, 242);
  color: rgba(9, 210, 109, 0.68);
  font-size: 0.8rem;
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
}

.retrato {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;


}

.menu {
  margin-top: 2rem;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;

}

.centrado {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.nav-link-menu {
  color: black;
  /* text-shadow: 1px 1px 2px black !important;*/
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 0.9rem !important;
  margin: 10PX;
}


accordion-button collapsed {
  padding: 10px!important;
}


div.col-4 {
  padding: 0px !important;
}


.cproductos {
  border: 1px solid #00913D !important;

}

div.accordion-body {
  padding: 5px !important;
}


.centrado {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.col-6 {
  padding: 2px;
}

div.col-6.col-md-3,
div.col-12 {
  padding: 0.2px !important;
}


.btn-primary {
  background-color: #00913d !important;
  border: 1px;
  border-color: white !important;
}


.white {
  color: rgb(255, 255, 255) !important;
  font-size: 0.9rem;
}

.btnwsp {
  border-radius: 35px !important;
  padding: 4px !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
}

.derecha {
  text-align: right;
}






.config {
  font-size: 0.6rem;
  background: fixed;
}

textarea,
select,
input,
button {
  font-size: 0.6rem !important;
}

.display-6 {
  font-size: 1.4rem !important;
}

.about {
  padding: 30px;

}

footer {
  text-align: center;
  background-color: rgb(34, 93, 3);
  color: rgb(237, 250, 237);
  width: 100%;
  bottom: 0;
  position: absolute;
  font-size: 0.7rem;
}

/*---------------------------------------------------mañas*/
.radio-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px;
}

.form-check {
  margin-left: -15px;
  margin-right: 2px;
}

.degradado {
  background-image: linear-gradient(
    to right,
    rgb(0, 128, 126),
    yellow,
    red
  );
}

.default {
  width: 100%;
  border-collapse: collapse;
}

.default td {
  padding: 10px;
  text-align: center;
}
.centrado{
  display: flex;
  flex-direction: column;
  align-content: center;
}